<div id="my-description">
  <div class="main-content">
    <div class="pure-g">
      <div class="pure-u-2-5">
        <div class="main-photo">
          <p></p>
        </div>
      </div>
      <div class="pure-u-3-5">
        <h1>Marco Damaceno</h1>
        <p>Sou um brasileiro que atualmente mora em Juiz de Fora - MG e que não gosta de chocolate e carnaval, mas gosta de açaí e bacon. Além disso, trabalho com desenvolvimento de software desde 2012. Desde então, venho aprimorando técnicas e adquirindo conhecimento. Minhas linguagens favoritas são Ruby, PHP e Javascript.</p>

        <p>Meu email: maadamaceno@gmail.com</p>
      </div>
    </div>
  </div>
</div>
