<div id="my-description">
  <div class="container">
    <div class="row">
      <div class="col-md-3 main-photo">
        <img src="/images/marcodamaceno.jpg" alt="">
      </div>
      <div class="col-md-9">
        <h1>Marco Damaceno</h1>
        <p>Sou um brasileiro que atualmente mora em Juiz de Fora - MG e que não gosta de chocolate e carnaval, mas gosta de açaí e bacon. Além disso, trabalho com desenvolvimento de software desde 2012. Desde então, venho aprimorando técnicas e adquirindo conhecimento. Minhas linguagens favoritas são Ruby, PHP e Javascript.</p>

        <p><ion-icon name="logo-github"></ion-icon> <ion-icon name="logo-linkedin"></ion-icon></p>
      </div>
    </div>
  </div>
</div>
